server.port=8762
spring.application.name={application_name}
eureka.client.service-url.defaultZone={eureka_client_service_url}

# A prefix that can added to beginning of all requests.
#zuul.prefix=/api

# Disable accessing services using service name (i.e. gallery-service).
# They should be only accessed through the path defined below.
zuul.ignored-services={zuul_ignored_services}

# Map paths to services
zuul.routes.gallery-service.path={zuul_routes_gallery_service_path}
zuul.routes.gallery-service.service-id={zuul_routes_gallery_service_service_id}
