# Give a name to the eureka server
spring.application.name={application_name}

# default port for eureka server
server.port={server_port}

# eureka by default will register itself as a client. So, we need to set it to false.
# What's a client server? See other microservices (image, gallery, auth, etc).
eureka.client.register-with-eureka={eureka_client_register_with_eureka}
eureka.client.fetch-registry={eureka_client_fetch_registry}
